* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 80%;
    margin: 0 auto;
  }

 .image-container {
      display: flex;
      flex-direction: row;
  }

  img {
      height:200px;
      margin:0px 10px 5px 0;
  }

  .hidden {
      display: none;
  }